.fira-sans-thin {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: normal;
}

/* share styles */
.btn-primary:hover{
    color: brown;
}
.btn-primary{
    background-color: #006A50;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    padding: 17px 34px;
    border: none;
    border-radius: 8px;
}
.btn-bg{
    background-color: #5490F5;
}
.btn-bg-1{
    background-color: #09A15C;
}
.btn-bg-2{
    background-color: #FFC239;
}
.power-title{
    font-weight: bold;
    font-size: 20px;
    color: #0E0E0E;
    margin-top: 24px;
    margin-bottom: 12px;
}

/* banner styles */
header{
    max-width: 1280px;
    margin: 0 160px;
}

.banner{
    display: flex;
    gap: 64px;
    background-color: #C6E4D6;
    padding: 117px 60px;
    border-radius: 24px;
    
}

.banner-title{
    font-weight: 500;
    font-size: 24px;
    color: #0E0E0E;
}
.banner-sub-title{
    color: #0E0E0E;
    font-weight: bold;
    font-size: 56px;
}


    .banner-img{
        height: 400px;
        width: 475px;
    }
    /* main section styles */
       
     .vision{
        max-width: 1280px;
        margin: 80px 160px;

     }
    .vision-title{
        font-weight: bold;
        font-size: 40px;
        color: #0E0E0E;
    }
    .future{
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 24px;
        margin-top: 32px;
    }
    .power-info-1{
        background-color: #5464F5;
        padding: 32px;
        border-radius: 16px;
    }
    .power-info-2{
        background-color: #C6E4D6;
        padding: 32px;
        border-radius: 16px;
    }
    .power-info-3{
        background-color: #F7EBCF;
        padding: 32px;
        border-radius: 16px;
    }
    /* quotes style */
    .quotes{
       
        margin: 32px;
    }
    .quote-description{
        background-image: url(../images/quote-bg.png);
        background-repeat: no-repeat;
        background-color: #FFFFFF;
        margin-top: 20px;
    }
